/* .controls {
	position: relative;
	top: 24px;
} */

.form-grid {
  display: grid;
  grid-template-columns: 148px 232px 96px auto;
  /* grid-template-columns: auto auto auto auto; */
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}

.text-input {
  grid-column-start: 1;
  grid-column-end: 5;
  resize: none;
}

.voice-controls {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(320px, 3fr) minmax(256px, 3fr) 48px 48px 64px minmax(96px, 1fr);
  grid-column-end: span 4;
}

mat-form-field,
button {
  justify-self: stretch;
  min-width: 0;
  min-height: 0;
  width: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  text-align: right;
}

input::after {
  content: "hi"
}

.file-controls {
  display: grid;
  grid-template-columns: auto 64px 64px auto;
  grid-gap: 16px;
  grid-column-end: span 4;
}

.play-button,
.save-button {
  align-self: center;
  width: inherit;
  min-width: 0;
}

.mat-button-wrapper::after {
  position: absolute;
  top: 5em !important;
  color: red;
  content: "ASdf"
}

@media (max-width: 992px) {
  .voice-controls {
    grid-template-columns: 48px 84px 128px minmax(96px, 1fr);
    grid-row-end: span 2;
  }

  .format-select {
    grid-column-end: span 3;
  }

  .file-controls {
    grid-column-end: span 4
  }
}

@media (max-width: 744px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .text-input {
    grid-column-end: span 2;
  }

  .voice-controls {
    grid-template-columns: minmax(48px, 1fr) minmax(48px, 1fr) minmax(64px, 1fr) 3fr;
    grid-column-end: span 2;
  }

  .format-select {
    grid-column-end: span 3;
  }

  .file-controls {
    grid-column-end: span 2;
  }
}

@media (max-width: 599px) {
  .voice-controls {
    grid-row-end: span 3;
  }

  .format-select,
  .profile-select {
    grid-column-end: span 4;
  }

  .file-controls {
    grid-column-end: span 2;
  }
}

@media (max-width: 512px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .text-input {
    grid-column-end: span 1;
  }

  .voice-controls {
    grid-column-end: span 1;
  }

  .file-controls {
    grid-column-end: span 1;
  }

  .file-controls {
    grid-column-end: span 1;
  }
}

.base64 {
  width: 100%;
  opacity: 0;
  height: 0;
}
